$purple: #7f50ac;
$purple-text: rgba(151, 129, 152, 0.8);
$dark-blue: #2e294e;
$magenta: #dc0f64;
$input-color: #a38fa3;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

// Chrome applies an 8px margin by default (gross).
* {
  font-family: "Montserrat", "sans-serif";
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
body {
  margin: 0px;
}

// helper classes

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: $purple;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.text-center {
  text-align: center;
}

// main styles below

.popupContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 380px;
  flex-direction: column;
  > div {
    width: 100%;
  }
}

// Header styles

.app_header {
  background: #7f50ac;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  padding: 15px;
  align-items: center;
  .header_icon {
    &:first-of-type {
      position: absolute;
      left: 15px;
    }
    padding: 0 3.5px;
  }
}

// Login styles
.logo_text {
  text-align: center;
  margin: 50px 0 20px 0;
  p {
    font-size: 13px;
    color: $purple-text;
    margin: 25px;
  }
}

.login_input {
  input {
    border: solid 1px $input-color;
    color: $input-color;
    border-radius: 8px;
    background: #ffffffb0;
    font-size: 14px;
    padding: 14px 25px;
    margin-bottom: 20px;
    width: 70%;
    font-weight: 500;
    &::placeholder {
      color: $input-color;
    }
  }
  button {
    border: solid 1px $dark-blue;
    color: #fff;
    border-radius: 8px;
    background: $dark-blue;
    font-size: 14px;
    padding: 14px;
    margin-bottom: 60px;
    width: 70%;
    transition: all 0.3s;
    &:hover {
      background: #fff;
      color: $dark-blue;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-around;
  a {
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0;
    border-bottom: solid 1px;
    color: rgba(151, 129, 152, 0.6);
    font-weight: 600;
    &.active {
      color: $magenta;
      border-bottom: solid 2px;
    }
  }
}

.deal {
  padding: 5px;
  font-size: 13px;
  background: #fff;
  color: #978198;
  box-shadow: 0px 0px 1px 1px #ddd;
}

.main_banner {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7f50aca1;
  color: #fff;
  font-size: 15px;
  p {
    text-align: center;
    span {
      font-weight: 500;
    }
  }
}

.search {
  input {
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    text-align: center;
  }
}

.primary_header {
  font-size: 12px;
  padding: 0 20px;
  font-weight: normal;
}

// Invite page styles

.inviteMail,
.sendLink {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $purple-text;
  }
  .inviteMail-children {
    margin-bottom: 10px;
    font-size: 14px;
  }
  input {
    border: solid 1px $input-color;
    color: $input-color;
    border-radius: 8px;
    background: #ffffffb0;
    font-size: 14px;
    padding: 14px 25px;
    margin-bottom: 20px;
    width: 70%;
    font-weight: 500;
    &::placeholder {
      color: $input-color;
    }
  }
  button {
    border: solid 1px $dark-blue;
    color: #fff;
    border-radius: 8px;
    background: $dark-blue;
    font-size: 14px;
    padding: 14px;
    width: 70%;
    transition: all 0.3s;
    &:hover {
      background: #fff;
      color: $dark-blue;
    }
  }
}

.referral_section_separator {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e294e0f;
  font-size: 14px;
  color: #2e294e;
}
